!!! 5
html
  head
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    //script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML')
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='MathJax/MathJax.js?config=AM_HTMLorMML')
    script(src='jquery-1.6.4.min.js')
    script(src='socket.io/socket.io.js')
    script(src='paper.js')
    script(src='modules.js')
    script(src='ui.js')
    script(src='tools.js')
    script(src='receiver.js')
    script(src='app.js')
    script(src='inputcanvas.js')
    script(src='jquery.simplemodal.js')
  body
    div#MathDiv
      p This is what I typed \`{}\`
    canvas(resize)
    .right
      .chat#chat
        #nickname
          form.wrap#set-nickname
            p Enter your nickname
            input#nick
            p#nickname-err Name already taken
        #connecting
          .wrap Connecting to server
        #messages
          #nicknames
          #lines
        form#send-message
          input#message
          button Send
    .left
      .math#eqn
        #equations
          #eqnln
        form#add-equation
          input#equation
          button Add
    .bottom
      .bar#tools
